<h3><%= flash[:alert] %></h3>

<%= form_for @menu do |form| %>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :menu_name %>
  </div>

  <div class="field">
    <%= form.label :Price %><br>
    <%= form.number_field :price, id: :menu_price %>
  </div>

  <%= form.file_field :image %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
