<div class="order-form">
  <%= form_with url: orders_path, html: {class: "form-horizontal"}, local: true do |form| %>

    <% @orders.each do |order| %>
      <div class="row confirm-detail">
        <div class="col-sm-4">
          <%= order[:name] %>
        </div>
        <div class="col-sm-2">
          <%= order[:price] %>円
        </div>
        <div class="col-sm-2">
          <%= order[:quantity] %>個
        </div>
      </div>
      <hr>

      <%= form.hidden_field "order_details[][menu_id]", value: order[:menu_id] %>
      <%= form.hidden_field "order_details[][quantity]", value: order[:quantity] %>

    <% end %>
    <hr>
    <p class="total_price">合計金額：<%= @total_price %>円</p>
    <%= form.hidden_field "total_price", value: @total_price %>

    <div class="form-group">
        <%= form.submit "注文", class: "btn btn-primary col-sm-4" %>
        <%= link_to "戻る", new_order_path, method: :get, class: "btn btn-outline-primary" %>
    </div>


  <% end %>
</div>
