<% @orders.each do |order| %>
  <div class="order-form">
    <p>注文番号: <%= order.number %></p>
    <% order.order_details.each do |detail| %>
      <p><%= detail.menu.name %>　✕　<%= detail.quantity %></p>
    <% end %>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=<%="#editModal-#{order.id}" %>>
      注文状態: <%= order.status %>
    </button>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=<%="#deleteModal-#{order.id}" %>>
      取り消し
    </button>
    <hr>

    <div class="modal fade" id=<%="editModal-#{order.id}" %> tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="demoModalTitle">注文番号:<%= order.number %>の状態を変更しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <%= link_to "状態を変更する", order_path(order.id), method: :put, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id=<%="deleteModal-#{order.id}" %> tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="demoModalTitle">この注文を取り消しますか？</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <%= link_to "取り消す", order_path(order.id), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
