<div class="all">
<h1 class="title">注文状況</h1>

<div class="contents">
  <% @orders.each do |order| %>
    <div class="order-form">
      <div class="order-detail">
        <p class="order_num">注文番号: <span class="number"><%= order.number %></span></p>
        <% order.order_details.each do |detail| %>
          <% if detail.menu.visible %>
            <p class="detail"><%= detail.menu.name %>　<span class="multiple">✕</span>　<%= detail.quantity %></p>
          <% end %>
        <% end %>
      </div>

      <div class="status">
          <%= image_tag("#{order.status}.png") %>
      </div>

      <% if user_signed_in? %>
        <div class="buttons">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%= "#editModal-#{order.id}" %>>
          状態変更
        </button>

        <%= link_to "修正", edit_order_path(order.id), class: "btn btn-outline-success" %>
        </div>
        <% end %>
      <hr>
    </div>


    <div class="modal fade" id=<%= "editModal-#{order.id}" %> tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="demoModalTitle">注文番号:<%= order.number %>の状態を変更しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <%= link_to "状態を変更する", order_path(order.id, status: true), method: :put, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
